*, *:before, *:after {-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;min-height:1px;}
body {font:normal 14px/1.4 Arial, sans-serif;color:#fff;padding-bottom:20px;}
body.inner {overflow-y:scroll;min-width:550px;}
.clearfix {clear:both;}
.clearfix-h {clear:both;height:20px;}
.clearfix-h5 {clear:both;height:5px;}
a {text-decoration:underline;outline:none;}
a:hover {text-decoration:none;}
sup {line-height:1em;vertical-align:top;}
input[type="text"], input[type="password"] {outline:none;padding:5px;border:0;color:#5C5C5C;position:relative;background:rgba(255, 255, 255, 0.8);-moz-border-radius:3px;border-radius:3px;}
input[type="text"]:focus {box-shadow:0px 0px 25px #92BBC5;}
h1 {font-size:30px;line-height:30px;}
h1 span {display:block;color:#CC3434;font-size:24px;line-height:24px;}
sup.product-rating {position:absolute;right:5px;}
.color-01 {color:#010101;}
.main-bg {position:fixed;top:0;left:0;height:100%;width:100%;background:url(../img/background.jpg) no-repeat top center;-moz-background-size:cover;background-size:cover;}
.main-logo {position:relative;z-index:1;width:600px;margin:auto;font-size:42px;line-height:1em;padding-top:65px;text-align:center;}
.main-logo span {display:block;font-size:14px;line-height:1em;}
.auth-box {position:absolute;z-index:1;width:600px;top:50%;left:50%;margin-top:-150px;margin-left:-300px;background:rgba(0,0,0,0.75);-moz-border-radius:5px;border-radius:5px;}
.auth-box-inner {position:relative;margin:15px;}
.modal-bg {position:fixed;top:0px;left:0px;width:100%;height:100%;background:rgba(0, 0, 0, 0.8);z-index:10000;display:none;}
.modal-box {position:fixed;z-index:10001;width:600px;top:50%;left:50%;margin-top:-100px;margin-left:-300px;display:none;}
.modal-box-title {background:rgba(170, 170, 170, 0.75);padding:5px 15px;display:block;color:#000;font-weight:bold;-moz-border-radius:5px 5px 0 0;border-radius:5px 5px 0 0;}
.modal-box-content {padding:15px;background:rgba(255, 255, 255, 0.75);color:#000;}
.modal-box-bottom {background:rgba(254, 252, 252, 0.75);padding:5px 15px;-moz-border-radius:0 0 5px 5px;border-radius:0 0 5px 5px;overflow:hidden;border-top:1px solid #fff;}
.modal-box-button {padding:2px 10px;font-weight:bold;text-decoration:none;text-align:center;border:0px;display:inline-block;line-height:18px;background:rgba(0, 0, 0, 0.4);border-radius:3px;color:#F5F5F5;cursor:pointer;}
.to-register {position:absolute;right:0;top:0;color:#fff;text-decoration:none;border-bottom:1px dashed #fff;}
.become {text-decoration:none;color:#000;display:block;font-weight:bold;text-align:center;}
.form-groups {margin-bottom:15px;}
.form-groups img {position:absolute;top:48px;right:0;border-radius:10px;}
.form-groups label {display:block;margin-bottom:5px;}
.form-groups input[type="text"], .form-groups input[type="password"] {min-width:220px;}
.form-groups input[type="text"]:focus, .form-groups input[type="password"]:focus {box-shadow:0px 0px 25px #92BBC5;}
.form-groups input[type="submit"] {outline:none;border:0;cursor:pointer;padding:10px;min-width:100px;background:#204E47;-moz-border-radius:4px;border-radius:4px;line-height:1em;color:#fff;}
.form-groups input[type="submit"]:hover {background:#2C5E55;}
.form-groups input[type="submit"]:active {background:#316159;}
#login_form .username-help, #login_form .password1-help, #login_form .password2-help, #login_form .email-help, #login_form .captcha-help {display:none;position:absolute;top:130px;right:0;width:300px;text-align:right;}
#login_form input[name="username"]:focus + .username-help {display:block;}
#login_form input[name="email"]:focus + .email-help {display:block;}
#login_form input[name="password1"]:focus + .password1-help {display:block;}
#login_form input[name="password2"]:focus + .password2-help {display:block;}
#login_form input[name="email"]:focus + .email-help {display:block;}
#login_form input[name="captcha"]:focus + .captcha-help {display:block;}
.user-panel-inner, .container {min-width:1000px;max-width:1260px;margin:auto;position:relative;}
.container {margin-top:75px;}
.container-left {position:relative;float:left;width:200px;margin-top:15px;}
.container-right {position:relative;margin-left:200px;}
.logo {position:relative;z-index:1;font-size:32px;width:200px;float:left;height:60px;line-height:1em;padding-top:5px;text-align:center;color:#f5f5f5;text-decoration:none;display:block;}
.logo span {display:block;font-size:14px;line-height:1em;}
.w20 {width:20px;}
.w55 {width:55px;}
.w110 {width:110px;}
.w120 {width:120px;}
.w160 {width:160px;}
.w180 {width:180px;}
.w190 {width:190px;}
.w200 {width:200px;}
.w255 {width:255px;}
.w260 {width:260px;}
.w400 {width:400px;}
.categories {background:rgba(0,0,0,0.4);padding:1px;-moz-border-radius:3px;border-radius:3px;margin-bottom:15px;}
.categories ul {list-style-type:none;}
.categories > ul > li > a {display:block;color:#fff;text-decoration:none;padding:7px 15px;line-height:1em;font-weight:bold;}
.categories > ul.buddies > li > a {display:block;color:#fff;text-decoration:none;padding:7px 15px;line-height:1em;font-weight:bold;overflow:hidden;}
.categories > ul.buddies > li > a img {display:block;float:left;margin-right:5px;width:24px;height:24px;-moz-border-radius:3px;border-radius:3px;}
.categories > ul.buddies > li > a span {line-height:24px;vertical-align:middle;}
.categories > ul.buddies > li > a sup {line-height:1em;vertical-align:top;}
.categories li.hover > a {background:rgba(0,0,0,0.6);}
.categories li.active > a {background:#f5f5f5;color:#010101;-moz-border-radius:3px;border-radius:3px;}
.categories > ul.buddies li.hover > a {background:rgba(0,0,0,0.4);}
.categories > ul.buddies li.active > a {background:#f5f5f5;color:#010101;-moz-border-radius:3px;border-radius:3px;}
.categories > ul > li.hover > ul, .categories > ul > li.active > ul {display:block;position:relative;top:0;left:0;background:rgba(0,0,0,0.3);}
.categories > ul > li > ul > li {position:relative;}
.categories > ul > li > ul > li > a {display:block;color:#fff;text-decoration:none;padding:7px 15px 7px 25px;line-height:1em;}
.categories > ul > li > ul > li.hover > a {padding:7px 15px 7px 25px;background:rgba(0,0,0,0.25);}
.categories > ul > li > ul > li.active > a {color:#010101;background:#f5f5f5;-moz-border-radius:3px;border-radius:3px;}
.categories > ul > li > ul > li > ul {display:none;list-style-type:none;position:absolute;z-index:1;top:0px;left:100%;background:rgba(0,0,0,0.4);}
.categories > ul > li > ul > li.hover > ul {display:block;}
.categories > ul > li > ul > li > ul.active, .categories > ul > li > ul > li.active > ul {display:block;list-style-type:none;position:relative;top:0;left:0;background:none;}
.categories > ul > li > ul > li > ul > li > a {display:block;color:#fff;text-decoration:none;padding:7px 15px;line-height:1em;white-space:nowrap;}
.categories > ul > li > ul > li > ul.active > li > a, .categories > ul > li > ul > li.active > ul > li > a {display:block;color:#fff;text-decoration:none;padding:7px 15px 7px 35px;line-height:1em;white-space:normal;}
.categories > ul > li > ul > li > ul > li.hover > a {background:rgba(0, 0, 0, 0.25);}
.categories > ul > li > ul > li > ul > li.active > a {background:#f5f5f5;color:#010101;-moz-border-radius:3px;border-radius:3px;}
.user-panel-wrapper {position:fixed;width:100%;height:60px;top:0;left:0;z-index:9999;background:url(../img/background.jpg) no-repeat top center;-moz-background-size:cover;background-size:cover;}
.user-panel {position:relative;width:100%;height:60px;background:rgba(0, 0, 0, 0.4);}
.user-panel-wrapper-ajax .user-panel, .user-panel-notify {background:rgba(0, 0, 0, 0.73);}
.user-panel-inner-notify {position:absolute;line-height:60px;text-align:center;width:100%;padding-left:200px;display:none;}
.user-panel-inner-notify div {display:inline-block;line-height:20px;}
.user-panel-wrapper-ajax .logo {background:url(../img/loader7.gif) 0 0 no-repeat;}
.user-panel-search {position:relative;float:left;left:15px;top:17px;}
.user-panel-search input[type="text"] {width:150px;-moz-transition:0.5s;transition:0.5s;}
.user-panel-search input[type="text"]:focus {width:320px;box-shadow:0px 0px 25px #92BBC5;}
.user-panel-left-menu {float:left;margin-left:15px;}
.user-panel-right-menu {float:right;margin-right:15px;}
.user-panel-left-menu > ul, .user-panel-right-menu > ul {list-style-type:none;}
.user-panel-left-menu > ul > li, .user-panel-right-menu > ul > li {float:left;margin-left:15px;line-height:60px;height:60px;}
li.cr {padding:0 5px;}
li.cr span {display:block;line-height:18px;}
li.cr span.cr {font-size:10px;text-align:center;padding-top:6px;}
.user-panel-left-menu > ul > li > a, .user-panel-right-menu > ul > li > a {margin-top:18px;overflow:hidden;text-decoration:none;color:#fff;line-height:24px;display:block;vertical-align:middle;}
.user-panel-right-menu > ul > li > a {line-height:28px;margin-top:16px;}
.user-panel-left-menu > ul > li > a:hover, .user-panel-left-menu > ul > li.active > a {border-bottom:1px solid #f5f5f5;color:#f5f5f5;}
.user-panel-right-menu li.logout a {margin-top:17px;width:26px;height:28px;display:block;background:url(../img/power-off.png) center no-repeat;}
.user-panel-right-menu li.avatar a {}
.user-panel-right-menu li.avatar a > img {float:left;margin-right:5px;-moz-border-radius:4px;border-radius:4px;}
.user-panel-right-menu li.avatar a > div.avatar-right {float:left;}
.user-panel-right-menu li.avatar b {display:block;line-height:1em;vertical-align:top;}
.user-panel-right-menu li.avatar span {display:block;line-height:1em;vertical-align:top;}
.user-panel-right-menu li.pm a {padding-left:25px;background:url(../img/envelope.png) 0 center no-repeat;}
.user-panel-right-menu li.pm a > sup {line-height:1em;}
.user-panel-right-menu li.wallet a {padding-left:15px;font-weight:bold;background:url(../img/btc.png) 0 center no-repeat;}
.user-panel-right-menu li.basket a {font-weight:bold;padding-left:25px;background:url(../img/shopping-cart.png) 0 center no-repeat;}
.user-panel-right-menu li.basket-active a {font-weight:bold;color:#5ECC7D;padding-left:25px;background:url(../img/shopping-cart-active.png) 0 center no-repeat;}
.contacts {position:absolute;color:#4d4d4d;opacity:0;transition:1s;-moz-transform:rotate(-90deg);-webkit-transform:rotate(-90deg);transform:rotate(-90deg);}
.contacts:hover {color:#222;}
.breadcrumbs {margin-left:15px;float:left;}
.breadcrumbs, .sort, .pagination {overflow:hidden;}
.breadcrumbs ul {overflow:hidden;float:left;list-style-type:none;}
.pagination {text-align:center;}
.sort {-moz-border-radius:3px;border-radius:3px;padding:0 1px;}
.alert-order {background:rgba(255, 255, 255, 0.65);overflow:hidden;margin-bottom:15px;border-radius:4px;border:2px solid #FFF;}
.alert-order span {font-weight:bold;color:#AE1515;line-height:24px;padding-left:15px;}
.pagination ul, .sort ul, .alert-order ul {list-style-type:none;background:rgba(0, 0, 0, 0.4);-moz-border-radius:3px;border-radius:3px;padding:0 1px;display:inline-block;}
.alert-order ul {float:right;background:none;}
.sort ul {margin-left:10px;float:right;}
.breadcrumbs ul li {float:left;font-size:12px;}
.breadcrumbs ul li a, .sort ul li a, .pagination ul li a {color:#fff;}
.pagination ul li, .sort ul li, .alert-order ul li {float:none;padding:1px 0px;display:inline-block;color:#000;}
.sort ul li a, .pagination ul li a, .alert-order ul li a {text-decoration:none;padding:3px 10px;line-height:22px;text-transform:lowercase;}
.alert-order ul li a {color:#F5F5F5;-moz-border-radius:3px;border-radius:3px;background:rgba(89, 173, 45, 0.5);border:2px solid rgba(72, 143, 35, 0.5);font-weight:bold;padding:2px 10px;}
.alert-order ul li a:hover {background:rgba(71, 143, 33, 0.7);}
.sort li.switch-to-tableview {background:url(../img/th.png) center no-repeat;width:28px;}
.sort li.switch-to-listview {background:url(../img/align-justify.png) center no-repeat;width:28px;}
.sort ul li a.sort-asc, .sort ul li a.sort-desc, .sort ul li a.sort-act, .pagination ul li.active a, .pagination ul li.first-child a, .pagination ul li.last-child a {font-weight:bold;padding-right:16px;color:#010101;-moz-border-radius:3px;border-radius:3px;background:#f5f5f5 url(../img/long-arrow-up.png) right center no-repeat;}
.sort ul li a.sort-desc {background:#f5f5f5 url(../img/long-arrow-down.png) right center no-repeat;}
.sort ul li a.sort-act, .pagination ul li.active a {padding-right:10px;background:#f5f5f5;}
.pagination ul li.first-child a {padding-right:14px;background:url(../img/long-arrow-left-light.png) 4px center no-repeat;}
.pagination ul li.last-child a {padding-right:14px;background:url(../img/long-arrow-right-light.png) 6px center no-repeat;}
.top-status {text-align:center;padding:5px 10px;margin-bottom:15px;border:2px dashed #FFF;border-radius:5px;text-transform:uppercase;font-weight:bold;font-size:16px;background:rgba(0,0,0,0.2);width:200px;overflow:hidden;line-height:30px;}
.top-status span {display:block;text-transform:lowercase;font-weight:400;font-size:12px;line-height:13px;}
.top-status a {color:#F8F8F8;text-decoration:none;}
.top-status-red {background:rgba(221, 36, 36, 0.5);}
.top-status-green {background:rgba(89, 173, 45, 0.5);}
.top-status-yellow {background:rgba(158, 146, 63, 0.5);}
.top-status-blue {background:rgba(40, 102, 164, 0.5);}
.box .breadcrumbs {margin:0 0 5px;}
.box .breadcrumbs ul li {padding:0;}
.box .breadcrumbs ul li a {text-decoration:none;color:#5C5C5C;text-shadow:1px 1px 2px #FFF;font-weight:bold;}
.created-date {font-size:11px;margin-bottom:15px;display:block;}
.breadcrumbs .created-date {float:right;margin-bottom:0;}
.sent-date, .btc-date {font-size:11px;}
.order-id {font-size:12px;}
a.sent-date, a.order-id {color:#000;text-decoration:none;}
.title {margin-left:15px;font-size:22px;}
.title a {text-decoration:none;color:#fff;}
.row {margin:0px;overflow:hidden;}
.col-100 {width:100%;padding:15px;}
.col-25 {width:25%;float:left;padding:15px;}
.box {padding:5px 15px 10px;color:#474747;position:relative;background:rgba(255, 255, 255, 0.8);-moz-border-radius:3px;border-radius:3px;}
.box-staff {background:rgba(89, 173, 45, 0.5);color:#FFF;}
.box-disabled {-moz-opacity:0.5;opacity:0.5;}
.box-vv {-moz-opacity:0.8;opacity:0.8;}
.box-topic-preview {padding:0;overflow:hidden;}
.box-topic-preview:hover {background:rgba(255, 255, 255, 0.9);color:#474747;transition:all 0.2s ease 0s;}
.box-product {padding:15px;}
.box a.title {display:block;margin:0 0 5px;font-size:14px;text-decoration:none;color:#525252;font-weight:bold;}
.box-staff a.title {color:#fff;}
.box-topic-preview:hover a.title {color:#525252;}
.box .image {position:relative;display:block;margin:0 0 10px;}
.box .image a {display:block;}
.box .image img {width:100%;height:auto;display:block;-moz-border-radius:3px;border-radius:3px;}
.box-comments, .box-top-comments {position:absolute;top:0;left:0;opacity:0;width:100%;padding:5px;background:rgba(0, 0, 0, 0.75);color:#CECECE;-moz-border-radius:3px 3px 0 0;border-radius:3px 3px 0 0;-moz-transition:0.5s;transition:0.5s;overflow:hidden;display:block;line-height:1em;}
.box-top-comments {position:relative;opacity:1;padding:5px 15px;}
.box .image:hover .box-comments {opacity:1;}
.product-ld {overflow:hidden;display:block;margin-top:7px;}
.positive, .negative {background:url(../img/thumbs-o-up.png) 0 center no-repeat;padding-left:14px;cursor:pointer;float:left;min-width:13px;height:14px;line-height:1em;font-weight:bold;color:#CECECE;}
.positive:hover, .positive.active {background:url(../img/thumbs-up.png) 0 center no-repeat;color:#488f23;}
.negative {background:url(../img/thumbs-o-down.png) 0 center no-repeat;margin-left:15px;}
.negative:hover, .negative.active {background:url(../img/thumbs-down.png) 0 center no-repeat;color:#cc3434;}
.box-comments .comments, .box-top-comments .comments, .product-ld .comments {background:url(../img/comments-o.png) 0 center no-repeat;padding-left:16px;float:right;color:#CECECE;text-decoration:none;}
.box-top-comments .comments, .product-ld .comments {float:left;margin-left:15px;}
.box-top-comments .total-purchase {float:right;color:#CECECE;margin-left:10px;}
.box-top-comments .total-purchase a {color:#CECECE;text-decoration:none;border:1px solid #cecece;padding:0px 5px;}
td.total-rating {text-align:center;border-left:1px solid #E4E4E4;}
td.total-rating span {display:block;font-size:30px;line-height:30px;}
td.weight {font-weight:bold;}
.qnt {position:absolute;bottom:0;background:rgba(0, 0, 0, 0.3);-moz-border-radius:0 3px 0 3px;border-radius:0 3px 0 3px;color:#f5f5f5;padding:3px 9px;}
.box .image:hover .qnt {background:rgba(0, 0, 0, 0.6);}
.ship-from-to {color:#5C5C5C;position:relative;overflow:hidden;height:16px;line-height:1em;}
.ship-from, .ship-to {float:left;white-space:nowrap;-moz-transition:0.5s;transition:0.5s;}
.ship-to a {cursor:help;text-decoration:none;font-size:11px !important;}
.m-info {overflow:hidden;}
.m-info-left {float:left;}
.m-info-left a, .m-info-left-orders a {display:block;}
.m-info-left img, .m-info-left-orders img, img {display:block;-moz-border-radius:3px;border-radius:3px;}
.m-info-right {margin-left:33px;line-height:1em;}
.m-info-right a {text-decoration:none;font-size:14px;color:#5C5C5C;}
.box .buttons {overflow:hidden;display:block;margin-top:10px;}
.box .buttons a {float:left;display:block;padding:2px 10px;line-height:18px;border:2px solid transparent;border-left:0;border-right:0;font-weight:bold;-moz-border-radius:5px;border-radius:5px;color:#525252;text-decoration:none;text-align:center;transition:all 0.2s ease 0s;}
.box .buttons-control a {float:right;margin-left:10px;font-weight:bold;border:2px solid rgba(59, 59, 59, 0.5);background:rgba(89, 89, 89, 0.5);-moz-border-radius:3px;border-radius:3px;color:#F5F5F5;transition:all 0.2s ease 0s;}
.box .buttons-control a:hover {background:rgba(39, 39, 39, 0.7);}
a.vv, a#new_cancel, a#modal_cancel, a#modal_ok, a#edit_cancel, a#edit_save, a#new_add, a.new_edit, a.new_delete, a.get-it, a.new_buy {padding:2px 10px;font-weight:bold;text-decoration:none;text-align:center;border:2px solid rgba(59, 59, 59, 0.5);display:inline-block;line-height:18px;background:rgba(89, 89, 89, 0.5);-moz-border-radius:3px;border-radius:3px;color:#F5F5F5;transition:all 0.2s ease 0s;}
a#new_cancel:hover, a#edit_cancel:hover, a#modal_cancel:hover {background: rgba(39, 39, 39, 0.7);}
a.vv, a#button_save, a#edit_save, a#modal_ok, .box .buttons-control a#button_out, a#new_add, a.new_edit, a.get-it, a.new_buy, .sent-message, .send-review {background:rgba(89, 173, 45, 0.5);border:2px solid rgba(72, 143, 35, 0.5);color:#F5F5F5;}
a#modal_ok {float:right;}
a.vv:hover, a#button_save:hover, a#edit_save:hover, a#modal_ok:hover, .box .buttons-control a#button_out:hover, a#new_add:hover, a.new_edit:hover, a.get-it:hover, a.new_buy:hover, .sent-message:hover, .send-review:hover {background: rgba(71, 143, 33, 0.7);}
a.recalc {background:url(../img/refresh.png) center 0 no-repeat !important;width:14px;height:14px;display:inline-flex;border:0;transition:0.5s;}
a.recalc-needed {background:url(../img/refresh.png) center -14px no-repeat !important;}
a.recalc:hover {-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg);transform:rotate(180deg);}
a.encrypt {color:#F5F5F5;background:rgba(150, 150, 150, 0.5) url(../img/key.png) 5px center no-repeat;padding:2px 10px 2px 24px;font-weight:bold;text-decoration:none;text-align:center;border:2px solid rgba(137, 137, 137, 0.5);display:inline-block;line-height:18px;-moz-border-radius:3px;border-radius:3px;}
a.encrypt:hover {background:rgba(133, 133, 133, 0.7) url(../img/key.png) 5px center no-repeat;}
a.encrypt + a.buy {margin-left:10px;}
a.encrypt + a.sent-message {margin-left:15px;}
a.noencrypt + a.sent-message {margin-left:0px;}
.box .buttons-control a#button_delete, a.new_delete {background:rgba(221, 36, 36, 0.5);border:2px solid rgba(204, 52, 52, 0.5);}
.box .buttons-control a#button_delete:hover, a.new_delete:hover {background:rgba(218, 31, 31, 0.7);}
a.button-red {background:rgba(221, 36, 36, 0.5) !important;border:2px solid rgba(204, 52, 52, 0.5) !important;}
a.button-red:hover {background:rgba(218, 31, 31, 0.7) !important;}
a.button-yellow {background:rgba(158, 146, 63, 0.5) !important;border:2px solid rgba(141, 162, 79, 0.5) !important;}
a.button-yellow:hover {background:rgba(155, 141, 58, 0.7) !important;}
a.new_edit, a.new_delete, a.new_buy {opacity:0;-moz-transition:0.2s;transition:0.2s;}
.table .tr:hover a.new_edit, .table .tr:hover a.new_delete, .table .tr:hover a.new_buy {opacity:1;}
.editable:hover {background:rgba(255, 255, 255, 0.8);}
.btc-to {font-weight:bold;color:#5ECC7D;}
.btc-from {font-weight:bold;color:#CC5E75;}
.top-status-green .btc-to {color:#333;}
span.from-to {display:block;height:14px;background:url(../img/long-arrow-right.png) center no-repeat;}
.box .buttons a.buy {color:#fff;float:right;font-weight:bold;background:rgba(89, 173, 45, 0.5);border:2px solid rgba(72, 143, 35, 0.5);margin-left:2%;}
.box .buttons a.buy:hover {background:rgba(71, 143, 33, 0.7);}
.box .buttons a.vv {color:#fff;float:right;font-weight:bold;background:rgba(89, 173, 45, 0.5);border:2px solid rgba(72, 143, 35, 0.5);margin-left:2%;padding:1px 5px;font-size:12px;}
.box .buttons a.vv:hover {background:rgba(71, 143, 33, 0.7);}
.box .buttons a.vv span, a.vv span {line-height:10px;display:block;}
.box .buttons a.price {margin-right:2%;padding:2px;}
.box .buttons a.price span, span.btc-icon {background:url(../img/btc-14.png) 0 0 no-repeat;width:12px;height:14px;display:inline-block;vertical-align:middle;}
h2 {font-size:18px;line-height:1em;color:#010101;}
span.btc-icon-prod-price {background:url(../img/btc-30.png) 0 0 no-repeat;width:15px;height:24px;display:inline-block;vertical-align:middle;}
.box-left, .box-right {float:left;width:90%;}
.box-right {padding:10px;}
.box-top {overflow:hidden;margin-bottom:5px;}
.box-top a.title {float:left;margin:0 10px 0 0;line-height:1em;}
.box-top .created-date {margin-bottom:0;line-height:14px;float:right;}
.created-date a {text-decoration:none;color:#010101;font-weight:bold;}
.box-staff .created-date a {color:#fff;}
.box-topic-preview:hover .created-date a {color:#010101;}
.box-left {width:10%;-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;text-align:center;}
.box-reply .box-left, .box-reply .box-right {float:left;width:93%;}
.box-reply .box-right {position:relative;margin-left:2%;}
.box-reply .box-left {width:5%;}
.box-left span, .box-left a {display:block;}
.box-left a {text-decoration:none;color:#5C5C5C;text-shadow:1px 1px 2px #FFF;font-weight:bold;}
.imgavatar {width:100%;height:auto;display:block;-moz-border-radius:3px;border-radius:3px;}
.box-topic-preview .imgavatar {-moz-border-radius:3px 0 0 3px;border-radius:3px 0 0 3px;}
.username, #send_mail {text-decoration:none;font-weight:bold;color:#525252;}
.box-staff .username {color:#fff;}
#send_mail {border-bottom:1px dashed #525252;}
#send_mail:hover {border-bottom:1px transparent;}
.signature {font-size:11px;margin-bottom:5px;text-decoration:none;color:#5C5C5C;-moz-transition:0.2s;transition:0.2s;}
.signature:hover {color:#010101;}
.box-staff .signature {color:#9EC567;}
.box-staff:hover .signature {color:#5C5C5C;}
.box-staff:hover .signature:hover {color:#010101;}
a.topic, p.topic {display:block;text-decoration:none;color:#5C5C5C;padding-bottom:10px;}
.box-staff a.topic {color:#fff;}
.box-topic-preview:hover a.topic {color:#5c5c5c;}
.box-bottom {position:absolute;left:10%;width:90%;bottom:0px;padding:0px 10px 5px;}
.box-bottom-right {position:absolute;right:10px;bottom:5px;}
.topic-comments {background:url(../img/comments-o.png) 0 center no-repeat;padding-left:16px;color:#CECECE;text-decoration:none;float:left;margin-left:15px;line-height:1em;}
.box-bottom ul {list-style-type:none;overflow:hidden;line-height:1em;}
.box-bottom li {float:left;}
.box-bottom li a {text-decoration:none;color:#010101;font-size:11px;}
.box-staff .box-bottom li a {color:#fff;}
.box-topic-preview:hover .box-bottom li a {color:#010101;}
.box-setting {float:right;}
.box-setting a {color:#5C5C5C;text-shadow:1px 1px 2px #FFF;text-decoration:none;border-bottom:1px dashed #010101;margin-left:15px;}
.box-setting a:hover {border-bottom:1px transparent;}
textarea {width:100%;border:0;outline:0;background:none;-moz-transition:0.5s;transition:0.5s;color:#5C5C5C;}
textarea.box {padding:15px;margin-bottom:15px;}
.sent-message, .send-review {display:inline-block;color:#f5f5f5;margin:0 0 15px 65px;padding:2px 10px;line-height:18px;-moz-border-radius:3px;border-radius:3px;font-weight:bold;text-decoration:none;text-align:center;}
.seller {line-height:20px;margin-top:5px;}
.seller img {display:block;float:left;margin-right:5px;border-radius:3px;}
.box-product-left {width:20%;float:left;}
.box-product-right {width:78%;margin-left:2%;float:left;}
.box-product-left .box-comments {position:relative;opacity:1;margin-top:15px;background:none;}
.table {width:100%;display:table;border-spacing:0;border-collapse:collapse;}
.table .tr {display:table-row;}
.table .tr:hover {background:rgba(0, 0, 0, 0.1);}
.table .tr.white {background:rgba(255, 255, 255, 0.7);font-weight:bold;}
.table td, .table .td {display:table-cell;padding:7px 5px 6px;line-height:14px;vertical-align:middle;border-top:1px solid #f5f5f5;}
.table-rating td {padding:10px 5px 9px;border:0;}
.table-rating-current {box-shadow:0 0 20px #CECECE;border-radius:10px;}
.table-nopadding {width:100%;}
.table-nopadding td {padding:7px 0 6px;}
.product-content-left {float:left;width:68%;}
.product-content-right {float:right;max-width:30%;}
.ifvendorinfo {border:1px solid rgba(159, 159, 159, 1);box-shadow:0 0 5px rgba(159, 159, 159, 1);padding:7px 10px 6px;}
.ifvendorinfo span.star {display:inline-block;width:14px;height:14px;background:url(../img/star.png) 0 0 no-repeat;}
.recent-transactions .table, .table-options {background:rgba(0, 0, 0, 0.1);}
.recent-transactions .table .td {padding:7px 5px 6px;width:33%;}
.table-options .td {padding:7px 5px 6px;}
.table tr:first-child td, .table .tr:first-child .td {border-top:0;}
.description {margin-top:15px;}
.description h1 {display:block;margin-bottom:10px;font-size:18px;line-height:18px;}
.description h1.top-status-red {text-align:center;padding:5px;color:#fff;font-size:36px;line-height:36px;}
.add-item {display:block;text-align:center;background:rgba(160, 162, 82, 0.8);border:2px solid rgba(0, 0, 0, 0.2);padding:4px 7px;border-radius:3px;text-decoration:none;color:#F5F5F5;margin:0px auto 3px;transition:0.2s;}
.add-item:hover {background:rgba(154, 156, 74, 0.8);}
.img-news {margin-bottom:15px;}
.images-news .image {display:inline-block;width:19%;}
.message, .message-incoming {overflow:hidden;margin-bottom:15px;}
.message > .message {margin-bottom:0;}
.message .useravatar {width:50px;height:50px;float:left;}
.message .box, .message-incoming .box {min-height:50px;margin-left:65px;margin-right:65px;overflow:visible;}
.message-forum .box, .message-comment .box {margin-right:0;}
.message .box:before {content:'';border-top:transparent solid 5px;border-bottom:transparent solid 5px;border-right:rgba(255, 255, 255, 0.8) solid 6px;position:absolute;left:-6px;top:8px;z-index:99;}
.message .box-staff:before {border-right:rgba(89, 173, 45, 0.5) solid 6px;}
.message-incoming .useravatar {width:50px;height:50px;float:right;}
.message-incoming .box:after {content:'';border-top:transparent solid 5px;border-bottom:transparent solid 5px;border-left:rgba(255, 255, 255, 0.8) solid 6px;position:absolute;right:-6px;top:8px;z-index:99;}
.message .box-staff:after, .message-incoming .box-staff:after {border-left:rgba(89, 173, 45, 0.5) solid 6px;}
span.del {display:none;position:absolute;cursor:pointer;top:3px;right:3px;width:14px;height:14px;background:url(../img/trash-o.png) 0 0 no-repeat;}
.box:hover span.del {display:block;}
span.reply-link {display:none;position:absolute;cursor:pointer;bottom:3px;right:3px;width:14px;height:14px;background:url(../img/reply.png) 0 0 no-repeat;}
.box:hover span.reply-link {display:block;}
span.del-img {display:none;position:absolute;cursor:pointer;top:3px;right:3px;width:21px;height:20px;background:url(../img/del-img.png) 0 0 no-repeat;-moz-border-radius:3px;border-radius:3px;}
.image:hover span.del-img {display:block;}
span.set-main {display:none;position:absolute;cursor:pointer;top:3px;left:3px;width:21px;height:20px;background:url(../img/set-main.png) 0 0 no-repeat;-moz-border-radius:3px;border-radius:3px;}
.image:hover span.set-main {display:block;}
span.set-main.active {display:block;background-position:0 -20px;}
#upload_image {text-decoration:none;background:rgba(0, 0, 0, 0.4);display:block;text-align:center;padding:2px 0;-moz-border-radius:3px;border-radius:3px;color:#F5F5F5;}
.wallets-to-deposit div {display:block;margin-top:10px;}
.wallets-to-deposit input {width:100%;}
.basket-header {overflow:hidden;padding:5px;-moz-border-radius:3px;border-radius:3px;}
.product-header {overflow:hidden;}
.basket-header-left, .product-header-left {width:480px;float:left;color:#474747;}
.basket-header-left a, .product-header-left a {display:block;font-size:18px;color:#474747;text-decoration:none;}
.product-header-left a.username {font-size:36px;}
.basket-header-left img, .product-header-left img {display:block;}
.basket-header-right, .product-header-right {float:right;text-align:right;color:#474747;}
.product-header-right h2 {font-size:30px;line-height:34px;position:relative;}
.product-header-right span.btc-icon-prod-price {background:url('../img/btc-40.png') no-repeat scroll 0px 0px transparent;width:28px;display:inline-block;vertical-align:middle;height:34px;position:absolute;left:-38px;top:0px;}
.panel-search-results {display:none;-moz-box-shadow:0px 0px 25px #92BBC5;box-shadow:0px 0px 25px #92BBC5;width:100%;left:0;top:26px;position:absolute;background:rgba(0, 0, 0, 0.8);-moz-border-radius:0 0 3px 3px;border-radius:0 0 3px 3px;}
.panel-search-results-title {color:#999;font-size:11px;font-weight:bold;margin-bottom:4px;padding:5px 5px 0;}
.panel-search-results-item {position:relative;padding:2px 5px;border-top:1px solid #646464;}
.panel-search-results-item:hover {background:#474747;}
.panel-search-results-item a {display:block;text-decoration:none;color:#FFF;}
.panel-search-results-item span {font-size:11px;}
.panel-search-results-item span.btc-icon {font-size:11px;width:9px;background:url(../img/btc-9.png) 0 0 no-repeat;}
.btc-icon-white {background:url(../img/btc.png) 0 center no-repeat !important;}
.user-panel-search-active input[type="text"] {box-shadow:0 0;width:320px;}
.user-panel-search-active .panel-search-results {display:block;}
.message-left {float:left;width:75%;}
.message-right {float:right;width:25%;font-size:12px;}
.var-rating {position:relative;background-color:#A9ACB1;display:block;margin-top:3px;height:2px;}
.var-rating span {background-color:#017AFD;position:absolute;left:0px;top:0px;height:2px;}
.message-right .table td {padding:2px 5px 1px;}
.message-right td.total-rating span {display:block;font-size:22px;line-height:22px;}
.message-rating .box {margin-left:0;margin-right:0;}
.message-rating + .send-review {margin-left:0;}
input[type="checkbox"] {position:absolute;left:-9999px;}
input[type="checkbox"] + label:before {content:"";display:block;width:14px;height:14px;line-height:14px;background:url(../img/check.png) 0 0 no-repeat;cursor:pointer;}
input[type="checkbox"]:checked + label:before {background:url(../img/check.png) 0 -14px no-repeat;}
input + label + span {display:block;margin-top:3px;}
hr {border:0;border-bottom:1px solid #f5f5f5;margin-bottom:10px;}
.select-box {color:#5C5C5C;position:relative;height:26px;}
.select-inner {position:relative;z-index:1;outline:none;padding:6px 5px;border:0;color:#5C5C5C;background:rgba(255, 255, 255, 0.8);-moz-border-radius:3px;border-radius:3px;line-height:1em;}
.select-inner .list {max-height:192px;overflow:auto;margin-top:10px;}
.select-inner.visible {box-shadow:0px 0px 25px #92BBC5;padding:6px 10px 6px 5px;z-index:2;background:rgba(255, 255, 255, 0.9);}
.select-inner div {display:none;}
.select-inner.visible div {display:block;outline:none;}
.select-inner .selected-item {display:block;cursor:pointer;margin:0;}
.select-inner .selected-item:before {content:'';border-top:#90BAC7 solid 5px;border-left:transparent solid 5px;border-right:transparent solid 5px;position:absolute;right:10px;top:11px;}
.select-inner .item {margin-bottom:8px;cursor:pointer;}
.select-inner .item:last-child {margin-bottom:0px;}
.select-inner .item:hover {color:#474747;font-weight:bold;}
.select-inner .item.active {color:#474747;}
.jspContainer {overflow:hidden;position:relative;}
.jspPane {position:absolute;}
.jspVerticalBar {position:absolute;top:0;right:0;width:10px;height:100%;}
.jspHorizontalBar {position:absolute;bottom:0;left:0;width:100%;height:16px;}
.jspCap {display:none;}
.jspHorizontalBar .jspCap {float:left;}
.jspTrack {background:#ECECEC;position:relative;}
.jspDrag {background:#90BAC7;position:relative;top:0;left:0;cursor:pointer;}
.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag {float:left;height:100%;}
.jspArrow {background:#50506d;text-indent:-20000px;display:block;cursor:pointer;padding:0;margin:0;}
.jspArrow.jspDisabled {cursor:default;background:#80808d;}
.jspVerticalBar .jspArrow {height:16px;}
.jspHorizontalBar .jspArrow {width:16px;float:left;height:100%;}
.jspVerticalBar .jspArrow:focus {outline:none;}
.jspCorner {background:#eeeef4;float:left;height:100%;}
.fancybox-wrap, .fancybox-skin, .fancybox-outer, .fancybox-inner, .fancybox-image, .fancybox-wrap iframe, .fancybox-wrap object, .fancybox-nav, .fancybox-nav span, .fancybox-tmp {padding:0;margin:0;border:0;outline:none;vertical-align:top;}
.fancybox-wrap {position:absolute;top:0;left:0;z-index:10020;}
.fancybox-skin {position:relative;background:#f9f9f9;color:#444;text-shadow:none;-webkit-border-radius:4px;-moz-border-radius:4px;border-radius:4px;}
.fancybox-opened {z-index:10030;}
.fancybox-opened .fancybox-skin {box-shadow:0 10px 25px rgba(0, 0, 0, 0.5);}
.fancybox-outer, .fancybox-inner {position:relative;}
.fancybox-inner {overflow:hidden;}
.fancybox-type-iframe .fancybox-inner {-webkit-overflow-scrolling:touch;}
.fancybox-error {color:#444;font:14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;margin:0;padding:15px;white-space:nowrap;}
.main-error {position:relative;padding-top:65px;text-align:center;}
.fancybox-image, .fancybox-iframe {display:block;width:100%;height:100%;}
.fancybox-image {max-width:100%;max-height:100%;}
#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {background-image:url("../img/fancybox_sprite.png");}
#fancybox-loading {position:fixed;top:50%;left:50%;margin-top:-22px;margin-left:-22px;background-position:0 -108px;opacity:0.8;cursor:pointer;z-index:10060;}
#fancybox-loading div {width:44px;height:44px;background:url("../img/fancybox_loading.gif") center center no-repeat;}
.fancybox-close {position:absolute;top:-18px;right:-18px;width:36px;height:36px;cursor:pointer;z-index:10040;}
.fancybox-nav {position:absolute;top:0;width:40%;height:100%;cursor:pointer;text-decoration:none;background:transparent url("../img/blank.gif");-webkit-tap-highlight-color:rgba(0,0,0,0);z-index:10040;}
.fancybox-prev {left:0;}
.fancybox-next {right:0;}
.fancybox-nav span {position:absolute;top:50%;width:36px;height:34px;margin-top:-18px;cursor:pointer;z-index:10040;visibility:hidden;}
.fancybox-prev span {left:10px;background-position:0 -36px;}
.fancybox-next span {right:10px;background-position:0 -72px;}
.fancybox-nav:hover span {visibility:visible;}
.fancybox-tmp {position:absolute;top:-99999px;left:-99999px;visibility:hidden;max-width:99999px;max-height:99999px;overflow:visible !important;}
.fancybox-overlay {position:absolute;top:0;left:0;overflow:hidden;display:none;z-index:10010;background:rgba(0, 0, 0, 0.8);}
.fancybox-overlay-fixed {position:fixed;bottom:0;right:0;}
.fancybox-lock .fancybox-overlay {overflow:auto;}
.fancybox-title {visibility:hidden;font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;position:relative;text-shadow:none;z-index:10050;}
.fancybox-opened .fancybox-title {visibility:visible;}
.fancybox-title-float-wrap {position:absolute;bottom:0;right:50%;margin-bottom:-35px;z-index:10050;text-align:center;}
.fancybox-title-float-wrap .child {display:inline-block;margin-right:-100%;padding:2px 20px;background:transparent;background:rgba(0, 0, 0, 0.8);border-radius: 15px;text-shadow:0 1px 2px #222;color:#FFF;font-weight:bold;line-height: 24px;white-space:nowrap;}
.fancybox-title-outside-wrap {position:relative;margin-top:10px;color:#fff;}
.fancybox-title-inside-wrap {padding-top:10px;}
.fancybox-title-over-wrap {position:absolute;bottom:0;left:0;color:#fff;padding:10px;background:#000;background:rgba(0, 0, 0, .8);}
* html .jspCorner {margin:0 -3px 0 0;}
.range-bar {background-color:#a9acb1;border-radius:15px;display:block;height:4px;position:relative;width:100%;}
.range-quantity {background-color:#017afd;border-radius:15px;display:block;height:100%;width:0;}
.range-handle {background-color:#fff;border-radius:100%;cursor:move;height:30px;left:0;top:-13px;position:absolute;width:30px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, 0.4);box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);}
.range-handle:before {content:"";height:30px;width:30px;border-bottom:2px solid #eee;position:absolute;top:10px;left:10px;color:#cecece;-webkit-transform:rotate(135deg);transform:rotate(135deg);}
.range-min, .range-max {color:#181819;font-size:12px;height:20px;padding-top:4px;position:absolute;text-align:center;top:-9px;width:24px;}
.range-min {left:-30px;}
.range-max {right:-30px;}
.unselectable {-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;}
.range-disabled {cursor:default;}
.morris-hover {position:absolute;z-index:999;}
.morris-hover.morris-default-style {padding:5px 10px;color:#222;background:rgba(255, 255, 255, 0.8);font-size:12px;text-align:center;-moz-border-radius:5px;border-radius:5px;}
.morris-hover.morris-default-style .morris-hover-row-label{font-weight:bold;margin:0.2em 0;}
.morris-hover.morris-default-style .morris-hover-point{white-space:nowrap;margin:0.1em 0;}
a.competition {display:inline-block;color:#000;text-decoration:none;background:rgba(0, 0, 0, 0.4);padding:1px;-moz-border-radius:3px;border-radius:3px;}
a.competition span {background:#F5F5F5;padding:3px 10px;line-height:22px;-moz-border-radius:3px;border-radius:3px;}
.pm-active {
	-moz-animation-duration: 3s;
	-moz-animation-delay: 10s;
	-moz-animation-iteration-count: 3;
	-moz-animation-name: slidein;
}
@keyframes slidein {
  from {
  	-moz-opacity: 0;
    opacity: 0;
  }

  to {
  	-moz-opacity: 1;
    opacity: 1;
  }
}